
config sx1301 'SX1301_conf'
	option clksrc '1'
	option antenna_gain '0'
	option enable_reset_pin '1'
	option reset_pin '25'
	option lorawan_public 'true'

config radio 'radio_0'
	option enable 'true'
	option rssi_offset '-166.0'
	option tx_enable 'true'
	option type 'SX1257'l

config radio 'radio_1'
	option enable 'true'
	option freq '868500000'
	option rssi_offset '-166.0'
	option type 'SX1257'
	option tx_enable 'false'

config station 'station_conf'
	option log_file 'stderr'
	option log_level 'DEBUG'
	option log_size '10000000'
	option log_rotate '3'

