
config gateway 'gateway_conf'
	option keepalive_interval '10'
	option stat_interval '30'
	option push_timeout_ms '100'
	option forward_crc_valid 'true'
	option forward_crc_error 'false'
	option serv_port_up '1700'
	option serv_port_down '1700'
	option gateway_ID 'aabbccddeeffaabb'
	option server_address 'router.eu.thethings.network'
	option forward_crc_disabled 'false'
	option gps_enable 'false'
	option beacon_enable 'false'

config sx1301 'SX1301_conf'
	option clksrc '1'
	option antenna_gain '0'
	option enable_reset_pin '1'
	option reset_pin '25'
	option lorawan_public 'true'

config radio 'radio_0'
	option enable 'true'
	option rssi_offset '-166.0'
	option tx_enable 'true'
	option type 'SX1257'l

config radio 'radio_1'
	option enable 'true'
	option freq '868500000'
	option rssi_offset '-166.0'
	option type 'SX1257'
	option tx_enable 'false'
