
config gateway 'gateway_conf'
	option gateway_ID 'AA555A0000000000'
	option server_address 'localhost'
	option serv_port_up '1680'
	option serv_port_down '1680'
	option keepalive_interval '10'
	option stat_interval '30'
	option push_timeout_ms '100'
	option forward_crc_valid 'true'
	option forward_crc_error 'false'
	option forward_crc_disabled 'true'

config sx1301 'SX1301_conf'
	option clksrc '1'
	option antenna_gain '0'
	option lorawan_public 'false'
	option enable_reset_pin '1'
	option reset_pin '21'

config radio 'radio_0'
	option enable 'true'
	option freq '86750000'
	option rssi_offset '-166.0'
	option tx_enable 'true'
	option tx_freq_min '863000000'
	option tx_freq_max '870000000'
	option type 'sx1257'
	option mode 'simple'

config radio 'radio_1'
	option enable 'true'
	option freq '868500000'
	option rssi_offset '-166.0'
	option type 'sx1257'
	option tx_enable 'false'
	option mode 'simple'

config chan 'chan_multiSF_0'
	option enable 'true'
	option radio '1'
	option if '-400000'
	option desc 'Lora MAC, 125kHz, all SF, 923.2 MHz'

config chan 'chan_multiSF_1'
	option enable 'true'
	option radio '1'
	option if '-200000'

config chan 'chan_multiSF_2'
	option enable 'true'
	option radio '1'
	option if '0'

config chan 'chan_multiSF_3'
	option enable 'true'
	option radio '0'
	option if '-400000'

config chan 'chan_multiSF_4'
	option enable 'true'
	option radio '0'
	option if '-200000'

config chan 'chan_multiSF_5'
	option enable 'true'
	option radio '0'
	option if '0'

config chan 'chan_multiSF_6'
	option enable 'true'
	option radio '0'
	option if '0'

config chan 'chan_multiSF_7'
	option enable 'true'
	option radio '0'
	option if '400000'

config chan 'chan_Lora_std'
	option enable 'true'
	option radio '1'
	option if '-200000'
	option bandwidth '250000'
	option spread_factor '7'

config chan 'chan_FSK'
	option enable 'true'
	option radio '1'
	option if '300000'
	option bandwidth '125000'
	option datarate '50000'

config lut 'tx_lut_0'
	option pa_gain '0'
	option mix_gain '8'
	option rf_power '-6'
	option dig_gain '0'

config lut 'tx_lut_1'
	option pa_gain '0'
	option mix_gain '10'
	option rf_power '-3'
	option dig_gain '0'

config lut 'tx_lut_2'
	option pa_gain '0'
	option mix_gain '10'
	option rf_power '-3'
	option dig_gain '0'

config lut 'tx_lut_3'
	option pa_gain '1'
	option mix_gain '8'
	option rf_power '3'
	option dig_gain '0'

config lut 'tx_lut_4'
	option pa_gain '1'
	option mix_gain '10'
	option rf_power '6'
	option dig_gain '0'

config lut 'tx_lut_5'
	option pa_gain '1'
	option mix_gain '12'
	option rf_power '10'
	option dig_gain '0'

config lut 'tx_lut_6'
	option pa_gain '1'
	option mix_gain '13'
	option rf_power '11'
	option dig_gain '0'

config lut 'tx_lut_7'
	option pa_gain '2'
	option mix_gain '9'
	option rf_power '12'
	option dig_gain '0'

config lut 'tx_lut_8'
	option pa_gain '1'
	option mix_gain '15'
	option rf_power '13'
	option dig_gain '0'

config lut 'tx_lut_9'
	option pa_gain '2'
	option mix_gain '10'
	option rf_power '14'
	option dig_gain '0'

config lut 'tx_lut_10'
	option pa_gain '2'
	option mix_gain '11'
	option rf_power '16'
	option dig_gain '0'

config lut 'tx_lut_11'
	option pa_gain '3'
	option mix_gain '9'
	option rf_power '20'
	option dig_gain '0'

